<h1>Character Editor v0.0.1</h1>

<div *ngIf="!loaded" class="start-menu">
    <div class="button" (click)="openFile()">Open Existing</div>
    <!-- <div>OR</div>
    <div class="button" (click)="makeNew()">Create New</div> -->
</div>

<div *ngIf="loaded">

    <mat-tab-group>
        <mat-tab label="Roll Editor">
            <br>
            <app-roll-editor [characterRolls]="character['rolls']"></app-roll-editor>
        </mat-tab>

        <!-- <mat-tab label="Character Sheet">
            <app-character-sheet></app-character-sheet>
        </mat-tab> -->

        <mat-tab label="Download Character">
            <button (click)="downloadCharacter()">Download</button>
        </mat-tab>

    </mat-tab-group>

</div>



<input type="file" id="file" (change)="fileChanged($event)" hidden>
<a id="downloadAnchorElem" style="display:none"></a>