<div class="component-root">
    <table>
        <th>Death Saves</th>
        <tr>
            <td>Successes:</td>
            <td>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </td>
        </tr>
        <tr>
            <td>Failures:</td>
            <td>
                <input type="checkbox">
                <input type="checkbox">
                <input type="checkbox">
            </td>
        </tr>
    </table>

</div>
