
<div class="sheet-root">

    <div class="top-panel">
        <input type="text" placeholder="Character Name">
        
        <div>
            <div>
                <input type="text" placeholder="Class and Level">
                <input type="text" placeholder="Background">
                <input type="text" placeholder="Player Name">
            </div>

            <div>
                <input type="text" placeholder="Race">
                <input type="text" placeholder="Alignment">
                <input type="text" placeholder="Experience Points">
            </div>
        </div>

    </div>

    <div class="left-column">

        <div class="left-column-top">

            <div class="attributes-panel">

                <app-attribute [character]="character" attribute="strength"></app-attribute>
                <app-attribute [character]="character" attribute="dexterity"></app-attribute>
                <app-attribute [character]="character" attribute="constitution"></app-attribute>
                <app-attribute [character]="character" attribute="intelligence"></app-attribute>
                <app-attribute [character]="character" attribute="wisdom"></app-attribute>
                <app-attribute [character]="character" attribute="charisma"></app-attribute>
    
            </div>
    
            <div>
                <div class="card">
                    <span>
                        Proficiency
                        <input type="number" [(ngModel)]="character.proficiencyBonus">
                    </span>
                </div>
    
                <div class="card">

                    <app-derived-stat [character]="character" [isSave]="true" key="strength"></app-derived-stat>
                    <app-derived-stat [character]="character" [isSave]="true" key="dexterity"></app-derived-stat>
                    <app-derived-stat [character]="character" [isSave]="true" key="constitution"></app-derived-stat>
                    <app-derived-stat [character]="character" [isSave]="true" key="intelligence"></app-derived-stat>
                    <app-derived-stat [character]="character" [isSave]="true" key="wisdom"></app-derived-stat>
                    <app-derived-stat [character]="character" [isSave]="true" key="charisma"></app-derived-stat>
                    <span class="bold-text">Saving Throws</span>
                </div>
    
                <div class="card">
                    <app-derived-stat [character]="character" key="acrobatics"></app-derived-stat>
                    <app-derived-stat [character]="character" key="animal_handling"></app-derived-stat>
                    <app-derived-stat [character]="character" key="arcana"></app-derived-stat>
                    <app-derived-stat [character]="character" key="athletics"></app-derived-stat>
                    <app-derived-stat [character]="character" key="deception"></app-derived-stat>
                    <app-derived-stat [character]="character" key="history"></app-derived-stat>
                    <app-derived-stat [character]="character" key="insight"></app-derived-stat>
                    <app-derived-stat [character]="character" key="intimidation"></app-derived-stat>
                    <app-derived-stat [character]="character" key="investigation"></app-derived-stat>
                    <app-derived-stat [character]="character" key="medicine"></app-derived-stat>
                    <app-derived-stat [character]="character" key="nature"></app-derived-stat>
                    <app-derived-stat [character]="character" key="perception"></app-derived-stat>
                    <app-derived-stat [character]="character" key="performance"></app-derived-stat>
                    <app-derived-stat [character]="character" key="persuasion"></app-derived-stat>
                    <app-derived-stat [character]="character" key="religion"></app-derived-stat>
                    <app-derived-stat [character]="character" key="sleight_of_hand"></app-derived-stat>
                    <app-derived-stat [character]="character" key="stealth"></app-derived-stat>
                    <app-derived-stat [character]="character" key="survival"></app-derived-stat>
                    <span class="bold-text">Skills</span>
                </div>
    
            </div>

            <div class="center-column">

                <!-- AC, Initiative, Speed -->
                <div class="center-column-top">
                    <div class="scoreBox">
                        <div>
                            <input type="number" [(ngModel)]="character.armorClass">
                            <div>AC</div>
                        </div>
                    </div>
                    <div class="scoreBox">
                        <div>
                            <input type="number" [(ngModel)]="character.initiative">
                            <div>Initiative</div>
                        </div>
                    </div>
                    <div class="scoreBox">
                        <div>
                            <input type="number" [(ngModel)]="character.movementSpeed">
                            <div>Speed</div>
                        </div>
                    </div>
                </div>

                <!-- Hit points -->
                <div class="card">
                    <div>
                        <span>
                            Hitpoints:
                            <input type="number" [(ngModel)]="character.hitPoints"> 
                            / 
                            <input type="number" [(ngModel)]="character.maxHitPoints">
                        </span>
                    </div>
                    <div>
                        <span>
                            Temporary Hitpoints:
                            <input type="number" [(ngModel)]="character.temporaryHitPoints">
                        </span>
                    </div>
                </div>

                <!-- <div class="card">
                    <app-hit-dice [character]="character"></app-hit-dice>
                </div>

                <div class="card">
                    <app-death-saves [character]="character"></app-death-saves>
                </div> -->

                <div class="card">
                    <app-character-rolls [character]="character"></app-character-rolls>
                </div>

            </div>

        </div>
    
        <div class="card proficiencies-panel">
        </div>

    </div>

</div>