<table>
    <tr *ngFor="let key of keys; let i = index" (mouseenter)="mouseIndex = i;" (mouseleave)="mouseIndex = -1">
        
        <ng-container *ngIf="editIndex != i">
            <td>{{key}}</td>
            <td>{{_rolls[key]}}</td>
            <td class="buttonColumn">
                <ng-container *ngIf="mouseIndex == i && editIndex == -1">
                    <span class="button" (click)="editIndex = i; editRow(key)">
                        Edit
                    </span>
                    <span class="button" (click)="deleteRow(key)">
                        Delete
                    </span>
                </ng-container>
            </td>
        </ng-container>

        <ng-container *ngIf="editIndex == i">
            <td><input type="text" [(ngModel)]="editKey"></td>
            <td><input type="text" [(ngModel)]="editValue"></td>
            <td class="buttonColumn">
                <span class="button" (click)="editIndex = -1; saveRow()">
                    Save
                </span>
                <span class="button" (click)="editIndex = -1">
                    Cancel
                </span>
            </td>
        </ng-container>
    </tr>
    <tr>
        <td colspan="3">
            <div class="button" (click)="editIndex = -1">
                Create New
            </div>
        </td>
    </tr>
</table>